@import url(./shared/styles/base.css);

h2 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  max-width: 20em;
  margin-inline: auto;
  padding-top: 3em;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--text-color);
    text-decoration: none;

    img {
      max-height: 5em;
    }
  }
}
