@import url(../../shared/components/actions-bar.css);

actions-bar {
  justify-content: flex-end;

  #editContact,
  #deleteContact,
  #cancelEdit,
  #commitEdit {
    display: none;
  }
}

body.contact-selected {
  #newContact,
  #loadContacts {
    display: none;
  }

  #editContact,
  #deleteContact {
    display: inline;
  }
}

body.edit {
  #newContact,
  #loadContacts,
  #editContact,
  #deleteContact {
    display: none;
  }

  #cancelEdit,
  #commitEdit {
    display: inline;
  }
}
