@import url(../../shared/components/custom-list.css);
@import url(../../shared/components/custom-list-item.css);
@import url(../../shared/components/custom-list-skeleton.css);
@import url(../../shared/components/item-counter.css);

@import url(./contact-list-item.css);

contacts-section {
    position: relative;

    input {
        display: block;
        font-family: var(--font-family);
        color: var(--text-color);
        font-size: 1em;
        font-weight: 100;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid var(--border-color);
    }

    custom-list {
        position: absolute;
        overflow-x: hidden;
        top: 4em;
        bottom: 0;
        left: 0;
        right: 0;
    }

    custom-list-skeleton {
        display: none;
    }

    &.loading {

        custom-list,
        item-counter,
        input {
            display: none;
        }

        custom-list-skeleton {
            display: block;
        }
    }
}