body.song-first main {
  grid-template-columns: 1fr;
}

custom-list-skeleton {
  display: none;
}

#artists.loading ul,
#genres.loading ul,
#albums.loading ul,
#songs.loading ul,
#artists.loading input,
#genres.loading input,
#albums.loading input,
#songs.loading input {
  display: none;
}

#artists.loading custom-list-skeleton,
#genres.loading custom-list-skeleton,
#albums.loading custom-list-skeleton,
#songs.loading custom-list-skeleton {
  display: block;
}

ul#songList {
  border-right: none;
}

body:not(.song-first) ul#songList .artist {
  display: none;
}

@media (max-width: 710px) {

  body.artist-first.artist-selected responsive-nav,
  body.genre-first.genre-selected responsive-nav,
  body.album-first.album-selected responsive-nav {
    display: none;
  }

  body.artist-first.artist-selected main #songs,
  body.genre-first.genre-selected main #songs,
  body.album-first.album-selected main #songs,
  body.song-first main #songs {
    display: block;
  }

  body.artist-selected main #artists,
  body.genre-selected main #genres,
  body.album-selected main #albums,
  main #songs {
    display: none;
  }
}