@import url(../shared/styles/base.css);
@import url(../shared/styles/layout.css);

@import url(./components/expenses-responsive-nav.css);
@import url(./components/expenses-grid.css);
@import url(./components/actions-bar.css);

:root {
  --table-light: #eeeeee77;
  --table-dark: #dcdcdc77;
  --table-placeholder: #ae3434;
  --table-not-available: #6f6f6f;
  --table-item-heading-color: #dbe5f177;
  --table-category-heading-color: #b8cce477;
  --table-cell-padding: 0.1em 0.2em;
  --table-stripes: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 0px, rgba(0, 0, 0, 0.1) 4px, rgba(255, 255, 255, 0.1) 8px);
}

main {
  custom-list-skeleton {
    display: none;
  }

  &.loading {
    expenses-grid {
      display: none;
    }

    custom-list-skeleton {
      display: block;
    }
  }
}
