@import url(../shared/styles/base.css);

@import url(./components/expenses-responsive-nav.css);
@import url(./components/expenses-grid.css);
@import url(./components/actions-bar.css);

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

:root {
  --table-light: #eeeeee77;
  --table-dark: #dcdcdc77;
  --table-placeholder: #ae3434;
  --table-not-available: #6f6f6f;
  --table-item-heading-color: #dbe5f177;
  --table-category-heading-color: #b8cce477;
  --table-cell-padding: 0.1em 0.2em;
  --table-stripes: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 0px, rgba(0, 0, 0, 0.1) 4px, rgba(255, 255, 255, 0.1) 8px);
}

main {
  position: absolute;
  left: 3em;
  right: 3em;
  top: 6em;
  bottom: 6em;

  custom-list-skeleton {
    display: none;
  }

  &.loading {
    expenses-grid {
      display: none;
    }

    custom-list-skeleton {
      display: block;
    }
  }

  @media (max-width: 710px) {
    left: 1em;
    right: 1em;
    top: 4em;
    bottom: 3em;
  }
}
