@import url(../../shared/components/custom-list.css);
@import url(../../shared/components/custom-list-item.css);

@import url(./album-list-item.css);
@import url(./song-list-item.css);

@import url(../../shared/styles/loaders.css);

album-browser {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 2.6fr 1fr;
  height: 100%;

  @media (max-width: 1000px) {
    grid-template-columns: 2.6fr 1fr;
  }

  @media (max-width: 710px) {
    grid-template-columns: 1fr;
  }

  albums-section {
    custom-list {
      top: 4em;

      @media (max-width: 710px) {
        top: 2em;
      }
    }
  }

  songs-section {
    @media (max-width: 710px) {
      display: none;
    }

    .subtitle {
      display: none;
    }

    input {
      display: none;
    }

    custom-list {
      border-right: none;
      top: 2em;

      @media (max-width: 710px) {
        top: 0em;
      }

      .artist {
        display: none;
      }
    }
  }
}

body.album-selected {
  album-browser {
    albums-section {
      @media (max-width: 710px) {
        display: none;
      }
    }

    songs-section {
      @media (max-width: 710px) {
        display: block;
      }
    }
  }
}