album-list-item {
  display: inline-block;
  width: 7em;
  margin-right: 1em;

  img {
    width: 5em;
    height: 5em;
    padding: 1.4em 1em 0.4em 1em;
    border-radius: 0.4em;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  legend {
    color: var(--text-color-light);
    text-align: center;

    @media (max-width: 1000px) {
      max-width: 23em;
      text-align: left;
    }
  }

  strong {
    display: block;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: 1000px) {
      font-weight: 400;
    }
  }

  span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (max-width: 1000px) {
    width: 100%;
    height: initial;
  }
}