albums-section {
    position: relative;

    &.loading {

        ul,
        input {
            display: none;
        }

        custom-list-skeleton {
            display: block;
        }
    }

    input {
        display: block;
        font-family: var(--font-family);
        color: var(--text-color);
        font-size: 1em;
        font-weight: 100;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid var(--border-color);
    }

    custom-list {
        position: absolute;
        overflow-x: hidden;
        top: 2em;
        bottom: 0;
        left: 0;
        right: 0;
    }
}