@import url(../../shared/components/list-section.css);

songs-section {
  .subtitle {
    font-weight: 400;
    padding: 0.2em 0;
    display: block;
    margin-bottom: 0.8em;
    font-size: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 710px) {
      display: none;
    }
  }

  custom-list {
    @media (max-width: 710px) {
      top: 4em;
      padding-bottom: 6em;
    }
  }
}
