@import url(../../shared/components/custom-list.css);
@import url(../../shared/components/custom-list-item.css);
@import url(../../shared/components/item-counter.css);
@import url(../../shared/components/custom-list-skeleton.css);

@import url(./songs-section.css);
@import url(./song-list-item.css);

song-browser {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1fr;
  height: 100%;

  .subtitle {
    display: none;
  }

  songs-section {
    custom-list {
      border-right: none;

      @media (max-width: 710px) {
        top: 2em;
      }
    }
  }
}