song-list-item {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .artist {
    color: var(--text-color-light);
    vertical-align: middle;

    @media (max-width: 710px) {
      display: block;
      margin-left: 2em;
    }
  }

  img {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    margin-right: 0.4em;
  }
}