@import url(../../shared/components/actions-bar.css);

actions-bar {
  justify-content: flex-end;

  #event {
    justify-content: space-between;
    flex: 1;
    display: none;
  }
}

body.edit {
  actions-bar {
    #event {
      display: flex;
    }

    #data {
      display: none;
    }
  }
}
