event-editor {
  margin-inline: auto;

  @media (max-width: 710px) {
    width: 100%;
  }

  fieldset {
    display: grid;
    grid-template-columns: 7em 1fr 1em 1fr;
    grid-column-gap: 0.8em;
    grid-row-gap: 0.4em;
    border: none;

    @media (max-width: 710px) {
      grid-template-columns: 1fr;
      padding: 0.2em;
    }

    select.event-calendar,
    input.event-summary,
    input.event-location {
      grid-column-end: span 3;

      @media (max-width: 710px) {
        grid-column-end: span 1;
      }
    }
  }
}
