@import url(../shared/styles/base.css);
@import url(../shared/styles/layout.css);

@import url(./components/contacts-responsive-nav.css);
@import url(./components/contacts-section.css);
@import url(./components/details-section.css);
@import url(./components/edit-section.css);
@import url(./components/actions-bar.css);

main {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 0.5fr 1fr;

  @media (max-width: 710px) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 710px) {
  main {
    section {
      display: none;
    }
  }

  body.contact-selected main #contacts,
  main edit-section,
  main details-section {
    display: none;
  }
}
