@import url(../shared/styles/base.css);
@import url(../shared/styles/layout.css);

@import url(./components/shopping-responsive-nav.css);
@import url(./components/categories-section.css);
@import url(./components/products-section.css);
@import url(./components/shopping-section.css);
@import url(./components/actions-bar.css);

main {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1.64fr 1fr;

  @media (max-width: 710px) {
    grid-template-columns: 1fr;
  }
}

body.shopping main {
  grid-template-columns: 1fr;
}

body.planning shopping-section,
body.shopping categories-section,
body.shopping products-section {
  display: none;
}

@media (max-width: 710px) {
  body.planning.category-selected categories-section,
  body.planning:not(.category-selected) products-section {
    display: none;
  }
}
