@import url(../shared/styles/base.css);
@import url(../shared/styles/layout.css);

@import url(../shared/components/selected-item-nav.css);
@import url(../shared/components/rich-text-editor.css);
@import url(../shared/components/action-tag.css);
@import url(./components/compose-actions-bar.css);

selected-item-nav {
  display: block;
  width: auto;
  margin: 0 0 0 auto;
  text-align: right;
  font-size: 2em;
  font-weight: 100;
  color: var(--text-color-light);

  img {
    display: none;
  }

  @media (max-width: 710px) {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text-color);

    img {
      display: inline;
    }
  }
}

main {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 1em;
  overflow-y: auto;
}

input {
  background: transparent;
  border: none;

  &:invalid {
    border-bottom: 1px dashed var(--accent-color);
  }
}

fieldset {
  display: grid;
  border: none;
  margin: 0;
  padding: 0;
  grid-row-gap: 0.4em;

  p {
    margin: 0;
    display: grid;
    grid-template-columns: 5em 1fr;
    align-items: center;
    grid-column-gap: 0.4em;
  }
}

label {
  font-weight: 100;
}

#fileAttachment {
  grid-template-columns: 5em 1fr min-content;
}

#newAttachment {
  display: none;
}

#newAttachmentLabel {
  cursor: pointer;
}
