div.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0.1em;
  grid-column-gap: 0.1em;
  padding: 0.2em;
  grid-auto-rows: 7em;
}

@media (max-width: 710px) {
  div.calendar-grid {
    display: block;
  }
}
