div.calendar-day {
  padding: 0.2em;
  display: grid;
  grid-template-rows: min-content auto;
  grid-row-gap: 0.2em;
  overflow-x: hidden;
  scrollbar-width: none;
}

div.calendar-day.today {
  text-shadow: var(--selection-shadow);
}

div.calendar-day.valid {
  border: 1px solid var(--border-color);
}

div.calendar-day > span {
  font-weight: 300;
}

div.calendar-day > span.mobile-title {
  display: none;
}

div.calendar-day ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 0.1em;
}

@media (max-width: 710px) {
  div.calendar-day.valid {
    border: none;
    margin-bottom: 1em;
  }

  div.calendar-day > span.mobile-title {
    display: initial;
  }

  div.calendar-day > span.desktop-title {
    display: none;
  }

  div.calendar-day.no-events,
  div.calendar-day.invalid {
    display: none;
  }
}
