custom-list {
  padding-right: 1em;
  border-right: 1px solid var(--border-color);

  &.alternate-odd li:nth-child(odd) {
    background-color: #0001;
  }

  @media (max-width: 710px) {
    border-right: none;
  }
}