.custom-list-item {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  margin-bottom: 0.6em;

  &.selected {
    text-shadow: var(--selection-shadow-light);
  }

  &.hidden {
    display: none !important;
  }

  strong {
    color: var(--text-color);
    font-weight: 500;
  }
}